<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	
	<title> Cheer Up!</title>
</head>
<body>

	<h2>Login</h2>

	<form action="/answer_problem" method="post">
	  Problem's author: <input type="text" name="author"><br>
	  Problem's timestamp: <input type="text" name="timestamp"><br>
	  Answer: <input type="text" name="body"><br>
	  <input type="submit" value="Answer!">
	</form>
</body>

<script src="js/lib/angular.min.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/UserController.js"></script>
<script src="js/app/UserService.js"></script>
<link rel="stylesheet" href="css/lib/bootstrap.min.css" />
<link rel="stylesheet" href="css/app/app.css" />

</html>