<!DOCTYPE html>
<html>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

	<title> Cheer Up!</title>
</head>

<body>

	
	<div class="main-background" style="height: 100%">
		<div class="container main-page" style="height: 100%">
			<div class="row" style="height: 30%">
				<div class="col-md-5 hidden-md-down main-user">
					<div class="row" style="height: 30%;padding-bottom: 5%; padding-top: 5%;">
						<div class="col-md-12">
							<h2>Pepe</h2>
						</div>						
					</div>
					<div class="row" style="height: 70%">
						<div class="col-md-4">
							<img src="/images/user.png" class="rounded-circle retrato">
						</div>
					</div>
				</div>
				<div class="col-md-7 main-user">

				</div>
			</div>
			<div class="row" style="height: 70%;padding-bottom: 5%; padding-top: 5%;">
				<div class="col-md-8">
					<div style="height: 100%; padding-bottom: 5%; padding-top: 5%;">
					<div class="problemas" style="height: 100%">
						<h2>Cuentanos tu problema</h2>
					</div>
					</div>
				</div>
				<div class="col-md-4">
					<div style="height: 100%; padding-bottom: 5%;padding-top: 5%">
					<div class="datos-utiles" style="height:100%">
						<h2>Aqui hay datos útilies</h2>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--
	<form action="/ask_problem" method="post">
		Ask your problem!:
		<input type="text" name="body">
		<br>
		<input type="radio" name="categoryName" value="Animals"> Animals
		<br>
		<input type="radio" name="categoryName" value="Money"> Money
		<br>
		<input type="submit" value="Ask!">
	</form>

	<form action="/update" method="post">
		My data:
		<input type="text" name="datos">
		<br> Status:
		<input type="text" name="status">
		<br>
		<input type="submit" value="Update Info!">
	</form>
-->
</body>

<script src="/staic/js/lib/angular.min.js"></script>
<script src="/staic/js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="/staic/js/app/app.js"></script>
<script src="/staic/js/app/UserController.js"></script>
<script src="/staic/js/app/UserService.js"></script>
<link rel="stylesheet" href="/css/lib/bootstrap.min.css" />
<link rel="stylesheet" href="/css/app/app.css" />

</html>